@charset "US-ASCII" ;
@import "https://fonts.googleapis.com/css?family=Lato:300,400,700" ;
* {
    color: #444 ;
    font-family: Lato ;
    font-size: 16px ;
    font-weight: 300 ;
}
::-webkit-input-placeholder {
 font-style: italic ;
}
:-moz-placeholder {
 font-style: italic ;
}
::-moz-placeholder {
 font-style: italic ;
}
:-ms-input-placeholder {  
 font-style: italic ;
}

body {
    float: left ;
    margin: 0 ;
    padding: 0 ;
    width: 100% ;
}
strong {
	font-weight: 700 ;
}
a {
    cursor: pointer ;
    display: block ;
    text-decoration: none ;
}
a.button {
    border-radius: 5px 5px 5px 5px ;
    -webkit-border-radius: 5px 5px 5px 5px ;
    -moz-border-radius: 5px 5px 5px 5px ;
    text-align: center ;
    font-size: 21px ;
    font-weight: 400 ;
    padding: 12px 0 ;
    width: 100% ;
    display: table ;
    background: #037Ef3 ;
    background: -moz-linear-gradient(top,  #037Ef3 0%, #037Ef3 100%) ;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#037Ef3), color-stop(100%,#037Ef3)) ;
    background: -webkit-linear-gradient(top,  #037Ef3 0%,#037Ef3 100%) ;
    background: -o-linear-gradient(top,  #037Ef3 0%,#037Ef3 100%) ;
    background: -ms-linear-gradient(top,  #037Ef3 0%,#037Ef3 100%) ;
    background: linear-gradient(top,  #037Ef3 0%,#037Ef3 100%) ;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E51F04', endColorstr='#A60000',GradientType=0 ) ;
}
a.button i {
    margin-right: 10px ;
}
a.button.disabled {
    background: none repeat scroll 0 0 #037Ef3 ;
    cursor: default ;
}
.bkng-tb-cntnt {
    float: left ;
    width: 100% ;
}
.bkng-tb-cntnt a.button {
    color: #fff ;
    float: right ;
    font-size: 18px ;
    padding: 5px 20px ;
    width: auto ;
}
.bkng-tb-cntnt a.button.o {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) ;
    color: #037Ef3 ;
    border: 1px solid #037Ef3 ;
}
.bkng-tb-cntnt a.button i {
    color: #fff ;
}
.bkng-tb-cntnt a.button.o i {
    color: #037Ef3 ;
}
.bkng-tb-cntnt a.button.right i {
    float: right ;
    margin: 2px 0 0 10px ;
}
.bkng-tb-cntnt a.button.left {
    float: left ;
}
.bkng-tb-cntnt a.button.disabled.o {
    border-color: #037Ef3 ;
    color: #037Ef3 ;
}
.bkng-tb-cntnt a.button.disabled.o i {
    color: #037Ef3 ;
}
.pymnts {
    float: left ;
    width: auto ;
    height: auto ;
}
.pymnts * {
    float: left ;
}

.sctn-row {
    margin-bottom: 35px ;
    width: 100% ;
}
.sctn-col {
    width: 375px ;
}
.sctn-colA {
    width: 245px ;
}

.sctn-colA h5 {
    width: 235px ;
}

.sctn-col.l {
    width: 425px ;

}
.sctn-col input {
    border: 1px solid #ccc ;
    font-size: 18px ;
    line-height: 24px ;
    padding: 10px 12px ;
    width: 333px ;
}
.sctn-col label {
    font-size: 24px ;
    line-height: 24px ;
    margin-bottom: 10px ;
    width: 100% ;
}
.sctn-col.x3 {
    width: 300px ;
}
.sctn-col.x3.last {
    width: 200px ;
}
.sctn-col.x3 input {
    width: 210px ;
}
.sctn-col.x3 a {
    float: right ;
}
.pymnts-sctn {
    width: 100% ;
}
.pymnt-itm {
    margin: 0 0 3px ;
    width: 100% ;
}
.pymnt-itm h2 {
    background-color: #037Ef3 ;
    font-size: 24px ;
    line-height: 24px ;
    margin: 0 ;
    padding: 28px 0 28px 20px ;
    width: 100% ;
}
.pymnt-itm.active h2 {
    background-color: #037Ef3 ;
    color: #fff ;
    cursor: default ;
}
.pymnt-itm div.pymnt-cntnt {
    display: none ;
}
.pymnt-itm.active div.pymnt-cntnt {
    background-color: #f7f7f7 ;
    display: block ;
    padding: 0 0 30px ;
    width: 100% ;


}

.pymnt-cntnt div.sctn-row {
    margin: 20px 30px 0 ;
    width: auto ;



}
.pymnt-cntnt div.sctn-row div.sctn-col {
    width: 345px ;
}
.pymnt-cntnt div.sctn-row div.sctn-col.l {
    width: 395px ;
}
.pymnt-cntnt div.sctn-row div.sctn-col input {
    width: 303px ;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half {
    width: 155px ;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half.l {
    float: left ;
    width: 190px ;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half input {
    width: 113px ;
}
.pymnt-cntnt div.sctn-row div.sctn-col.cvv {
    background-image: url("./cvv.png") ;
    background-position: 156px center ;
    background-repeat: no-repeat ;
    padding-bottom: 30px ;
}
.pymnt-cntnt div.sctn-row div.sctn-col.cvv div.sctn-col.half input {
    width: 110px ;
}
.openpay {
    float: right ;
    height: 60px ;
    margin: 10px 30px 0 0 ;
    width: 435px ;
}
.openpay div.logo {
    background-image: url("./openpay.png") ;
    background-position: left bottom ;
    background-repeat: no-repeat ;
    border-right: 1px solid #ccc ;
    font-size: 12px ;
    font-weight: 400 ;
    height: 45px ;
    padding: 15px 20px 0 0 ;
}
.openpay div.shield {
    background-image: url("./security.png") ;
    background-position: left bottom ;
    background-repeat: no-repeat ;
    font-size: 12px ;
    font-weight: 400 ;
    margin-left: 20px ;
    padding: 20px 0 0 40px ;
    width: 200px ;
}
.card-expl {
    float: left ;
    height: 80px ;
    margin: 20px 0 ;
    width: 100% ;
}
.card-expl div {
    background-position: left 45px ;
    background-repeat: no-repeat ;
    height: 70px ;
    padding-top: 10px ;
}
.card-expl div.debit {
    background-image: url("./cards2.png") ;
    margin-left: 20px ;
    width: 540px ;
    float: left;
}
.card-expl div.credit {
    background-image: url("./cards1.png") ;
    border-right: 1px solid #ccc ;
    margin-left: 30px ;
    width: 209px ;
    float: left;
}
.card-expl h4 {
    font-weight: 400 ;
    margin: 0 ;
}



#c1, #c2 {
    width: 33% ;
}

#c3 {
    width: auto ;
}
#div_blue{
    background-color: #037Ef3 ;
    width: 100% ;
    
    padding-top: 32px ;
    padding-bottom: 32px ;
    padding-left: 32px ;
}

#modal_text{
    color: white ;
}

/* The Modal (background) */
.modal {
    display: none ; /* Hidden by default */
    position: fixed ; /* Stay in place */
    z-index: 1 ; /* Sit on top */
    left: 0 ;
    top: 0 ;
    width: 100% ; /* Full width */
    height: 100% ; /* Full height */
    overflow: auto ; /* Enable scroll if needed */
    background-color: rgb(0,0,0) ; /* Fallback color */
    background-color: rgba(0,0,0,0.4) ; /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    color: white ;
    background-color: #F85A40 ;
    margin: 15% auto ; /* 15% from the top and centered */
    padding: 20px ;
    border: 1px solid #888 ;
    width: 80% ; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa ;
    float: right ;
    font-size: 28px ;
    font-weight: bold ;
}

.close:hover,
.close:focus {
    color: black ;
    text-decoration: none ;
    cursor: pointer ;
}
